	<!--about-->
	<div id="about" class="about">
		<div class="container">
			<h3 class="title"> About Me</h3>
			<div class="col-md-8 about-left">
				<p>Innovative and committed Software Engineer with a passion for problem solving, code quality,debugging and designing solutions at any tier. Eager to take on challenging roles. Experience in full software development lifecycle from design, development to deployment. To work in learning and challenging environment, utilizing my skill and knowledge to be the best of my abilities and contribute positively to my personal growth as well as growth of the organization. 
				</p>
				<p>2+ years of experience professional IT experience in Software development of Application using Ruby on Rails.</p>
				<p>Special concentration in RoR application framework and Ruby language ,Experience in version control systems Github. Worked on client project using Ruby on rails, JavaScript and Ajax, Flexible and versatile to adapt to any new environment and work on any new technologies. Able to handle complex situations and time crunch schedules, creating more value for the company and for the client. Strong communication and analytical skills and ability to learn  migrate to different platforms, Applications and languages quickly. Good knowledge and skill of designing, analysis, testing and coding modules while structuring customized solutions to meet client’s specific needs.</p>
			</div>
			<div class="col-md-4 about-right">
				<ul>
					<h5>Awards</h5>
					<li><span class="glyphicon glyphicon-menu-right"></span> Certification in Java by Naresh. IT</li>
					<li><span class="glyphicon glyphicon-menu-right"></span> Certification in Ethical Hacking.</li>
					<li><span class="glyphicon glyphicon-menu-right"></span> Certification by Udemy.</li>
					<li><span class="glyphicon glyphicon-menu-right"></span> Winning the codewars challenge.</li>
					<li><span class="glyphicon glyphicon-menu-right"></span> Winner in several Coding Challenges.</li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//about-->