	<!--about-->
	<div id="about" class="about">
		<div class="container">
			<h3 class="title"> About Me</h3>
			<div class="col-md-8 about-left">
				<p>Innovative and committed Software Engineer with a passion for problem-solving, code quality, debugging, and designing solutions at any tier. Eager to take on challenging roles.Strong knowledge of Object-Oriented Analysis and Design, with experience in the full life cycle of the software design process (SDLC), encompassing requirement analysis, design, implementation, and testing. Extensive expertise in web development, from concept through implementation and optimization, with a special focus on the RoR application framework and Ruby language. Skilled in designing, analyzing, testing, and coding modules to structure customized solutions that meet client-specific needs. Proficient in agile development methodologies and tools.
				</p>
				<p>Experienced in the full software development lifecycle from design, development to deployment, with over 6.5+ years of expertise in developing Ruby on Rails web applications and Rails application servers.Proficient in third-party API integration, including Stripe, Twilio, DocuSign, EC2, Lambda, SNS, S3, Sidekiq, Redis, etc.</p>
				<p>I excel in handling complex situations and tight schedules, consistently delivering value to both the company and clients. My strong communication and analytical skills enable me to learn and migrate to different platforms, applications, and languages quickly. Additionally, I possess proficiency in designing, analyzing, testing, and coding modules to create customized solutions tailored to meet specific client needs.</p>
			</div>
			<div class="col-md-4 about-right">
				<ul>
					<h5>Awards</h5>
					<li><span class="glyphicon glyphicon-menu-right"></span> Certification in Ethical Hacking.</li>
					<li><span class="glyphicon glyphicon-menu-right"></span> Certification by Udemy.</li>
					<li><span class="glyphicon glyphicon-menu-right"></span> Winning the codewars challenge.</li>
					<li><span class="glyphicon glyphicon-menu-right"></span> Winner in several Coding Challenges.</li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//about-->