<div id="home" class="banner">
		<div class="banner-info">
			<div class="container">
				<div class="col-md-4 header-left">
					<img src="<%= asset_path 'avinash.jpg' %>" alt=""/>
				</div>
				<div class="col-md-8 header-right">
					<h2>Hello</h2>
					<h1>I'm Avinash Kumar</h1>
					<h6>Full Stack Developer</h6>
					<ul class="address">
						<li>
							<ul class="address-text">
								<li><b>D.O.B</b></li>
								<li>04-July-1991</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>PHONE </b></li>
								<li>+91 812 068 2298</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>ADDRESS </b></li>
								<li>Hyderabad </li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>E-MAIL </b></li>
								<li><a href="mailto:avi4791@gmail.com"> avi4791@gmail.com</a></li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>WEBSITE </b></li>
								<li><a href="http://avinashmehta.herokuapp.com">www.avinash.com</a></li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>LINKEDIN </b></li>
								<li><a href="http://www.linkedin.com/in/avinash-mehta">Linkedin</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>