	<!--education-->
	<div id="education" class="education">
		<div class="container">
			<h3 class="title">Education</h3>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>Bachlore Of Engineering  2012 - 2016</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"> </span>Chhattisgarh Swami Vivekanand Technical University</h5>
					<p>Chhattisgarh Swami Vivekanand Technical University (CSVTU) was established by an act (No. 25 of 2004) of legislature passed by the Chhattisgarh State Govt. Assembly vide notification no. 639/21-A/Praroopan/04 dt 21st January 2005</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>Senior School Certification - 2011</h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5>Central Board of Secondary Education <span class="glyphicon glyphicon-education"></span></h5>
					<p>The Central Board of Secondary Education (CBSE) is a national level board of education in India for public and private schools, controlled and managed by Union Government of India. CBSE has asked all schools affiliated to follow only NCERT curriculum.[2] There are approximately 19,316 schools in India and 211 schools in 25 foreign countries affiliated to the CBSE</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4> Secondary School - 2007 </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"></span> Kendriya Vidyalaya Danapur  </h5>
					<p>The Kendriya Vidyalayas Sangathan (lit. "central schools") is a system of central government schools in India that are instituted under the aegis of the Ministry of Human Resource Development (MHRD). It comprises over 1,193 schools in India (as of 1 November 2018) and three abroad. It is one of world's largest chains of schools.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//education-->