	<!--work-experience-->
	<div id="work" class="work">
		<div class="container">
			<h3 class="title">Work Experience</h3>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>2017 - 2018 </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-briefcase"><a href="http://complitech.us" target ="_blank"></span> Complitech Solution Pvt Ltd.</h5></a>
					<p>The short answer is we were there when it all began, creating some of world’s first mobile applications in early 2008. Mobile development has changed considerably since then, and we haven’t looked back.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>2016 - 2017 </h4>
				</div>
				<div class="col-md-6 work-left work-left2"><a href="http://irissbsp.com" target ="_blank">
					<h5> Iriss Electronic Travel Distribution Pvt Ltd. </a><span class="glyphicon glyphicon-briefcase"> </span></h5>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>2015 - 2016 </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-briefcase"> </span><a href="http://cplus.in" target ="_blank"> Computer Plus</h5></a>
					<p>Computer Plus is one place for all GIS Analysis & Mapping, GPS & DGPS Survey,Software,WEB & Mobile development work because meeting just your requirement is not enough, So for better result we dedicate our focus on Customer needs, Speedy delivery, Quality execution with affordable pricing . </p>
				</div>
				<div class="clearfix"> </div>
			</div>
<!-- 			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>2010 - 2012 </h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5> Company Name <span class="glyphicon glyphicon-briefcase"></span> </h5>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
				</div>
				<div class="clearfix"> </div>
			</div> -->
		</div>
	</div>
	<!--//work-experience-->