<div class="footer">
		<div class="container">
			<p>© 2018 My Resume. All rights reserved | Design by <a href="http://avinashmehta.herokuapp.com">Avinash Kumar</a></p>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script src="../assets/move-top.js" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			// $().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>